.sdata_siddhanta {
 color:teal;
 font-weight: normal; /* 07-14-2018*/
}
.sdata_system {
 color:teal;
}
i {
 font-style: italic;
}
.noti {
 font-style: normal;
}
.sdata_italic_iast i{
 color:teal;
}

table.display {
  width: 100%;
}
