h3 {
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 1px;
}

body {
    font-family: "Noto Sans", "DejaVu Serif", "Verajja Serif";
}

div.help {
    border: 2px solid #0ab33d;
    border-radius: 7px;
    line-height: 150%;
    margin: 0px 0px;
    overflow: auto;
    padding: 3px 5px;
    text-align: left;
}

p {
    line-height: 150%;
    margin: 0px;
    vertical-align: middle;
    text-align: left;
}


span.gray {
    color: gray
}

table {
    margin: 3px 0px;
}

table.help {
    border: none;
    width: 100%;
}

table.help td,
table.help th {
    line-height: 150%;
    padding: 0px 5px 0px 0px;
    text-align: left;
    vertical-align: top;
}

table.help th {
    color: #0ab33d;
    font-weight: 700;
}

table.help b {
    font-weight: 700;
}
