body {
    font-family: "Noto Sans", "DejaVu Serif", "Verajja Serif";
}

h3 {
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 1px
}

h4.dpr {
    margin-top: 3px;
    margin-bottom: 1px;
}

div.sandhi {
    border: 2px solid #ffd700;
    border-radius: 7px;
    line-height: 150%;
    margin: 0px 0px;
    overflow: auto;
    padding: 3px 7px;
    text-align: left;
}

div.dpr {
    border: 2px solid #CC4400;
    border-radius: 7px;
    line-height: 150%;
    margin: 5px 0px;
    overflow: auto;
    padding: 0px 7px;
    text-align: left
}

p.sandhi {
    line-height: 150%;
    margin: 2px 0px;
    vertical-align: middle;
    text-align: left;
}

a.sandhi_feedback {
    float: right;
    text-decoration: none;
    margin: 1px;
    vertical-align: top;
}