<div id="frequency_${i.pali_1_}" class="content ${hidden}">
${dd.freq_html}
<p>
    For a detailed explanation of how this word frequency chart is calculated, it's accuracies and inaccuracies, please refer to <a class="link" href="https://digitalpalidictionary.github.io/frequency.html">this webpage</a>.
</p>
<p class='footer'>
    If something looks out of place, <a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500=${i.pali_link}&entry.326955045=Frequency&entry.1433863141=GoldenDict+${today}" target="_blank">log it here.</a>
</p>
</div>
