% if i.example_1 and i.example_2:
<div id="examples_${i.lemma_1_}" class="content ${hidden}">
% elif  i.example_1 and not i.example_2:
<div id="example_${i.lemma_1_}" class="content ${hidden}">
% endif
    % if i.example_1:
    <p>${i.example_1}</p>
    <p class="sutta">
        % if make_link and i.source_link_1:
        <a href="${i.source_link_1}">${i.source_1}</a>
        % else:
        ${i.source_1}
        % endif
        ${i.sutta_1}</p>
    % endif
    % if i.example_2:
    <p>${i.example_2}</p>
    <p class="sutta">
        % if make_link and i.source_link_2:
        <a href="${i.source_link_2}">${i.source_2}</a>
        % else:
        ${i.source_2}
        % endif 
        ${i.sutta_2}</p>
    % endif
    <p class='footer'>
        Can you think of a better example? <a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500=${i.lemma_link}&entry.326955045=Examples&entry.1433863141=GoldenDict+${today}" target="_blank">Add it here.</a>
    </p>
</div>
