<div id="grammar_${i.pali_1_}" class="content">
    <table class = "grammar">
        <tr>
            <th>Pāḷi</th>
            <td>${i.pali_2}</td>
        </tr>
        <tr>
            <th>Grammar</th>
            <td>${grammar}</td>
        </tr>
        % if i.family_root:
        <tr>
            <th>Root Family</th>
            <td>${i.family_root}</td>
        </tr>
        % endif
        % if i.root_key:
        <tr>
            <th>Root</th>
            <td>${i.root_clean}<sup>${rt.root_has_verb}</sup>${rt.root_group}
                ${i.root_sign} (${rt.root_meaning})
            </td>
        </tr>
        % if rt.root_in_comps:
        <tr>
            <th>√ In Comps</th>
            <td>${rt.root_in_comps}</td>
        </tr>
        % endif
        % endif
        % if i.root_base:
        <tr>
            <th>Base</th>
            <td>${i.root_base}</td>
        </tr>
        % endif
        % if i.construction:
        <tr>
            <th>Construction</th>
            <td>${i.construction}</td>
        </tr>
        % endif
        % if i.derivative:
        <tr>
            <th>Derivative</th>
            <td>${i.derivative} (${i.suffix})</td>
        </tr>
        % endif
        % if i.phonetic:
        <tr>
            <th>Phonetic Change</th>
            <td>${i.phonetic}</td>
        </tr>
        % endif
        % if i.compound_type:
        <tr>
            <th>Compound</th>
            <td>${i.compound_type} (${i.compound_construction})</td>
        </tr>
        % endif
        % if i.antonym:
        <tr>
            <th>Antonym</th>
            <td>${i.antonym}</td>
        </tr>
        % endif
        % if i.synonym:
        <tr>
            <th>Synonym</th>
            <td>${i.synonym}</td>
        </tr>
        % endif
        % if i.variant:
        <tr>
            <th>Variant</th>
            <td>${i.variant}</td>
        </tr>
        % endif
        % if i.commentary and i.commentary != "-":
        <tr>
            <th>Commentary</th>
            <td>${i.commentary}</td>
        </tr>
        % endif
        % if i.notes:
        <tr>
            <th>Notes</th>
            <td>${i.notes}</td>
        </tr>
        % endif
        % if i.cognate:
        <tr>
            <th>English Cognate</th>
            <td>${i.cognate}</td>
        </tr>
        % endif
        % if i.link:
        <tr>
            <th>Web Link</th>
            <td>
                <a href="${i.link}">${i.link}</a>
            </td>
        </tr>
        % endif
        % if i.non_ia:
        <tr>
            <th>Non IA</th>
            <td><i>${i.non_ia}</i></td>
        </tr>
        % endif
        % if i.sanskrit:
        <tr>
            <th>Sanskrit</th>
            <td><i>${i.sanskrit}</i></td>
        </tr>
        % endif
        % if i.root_key:
        % if rt.sanskrit_root:
        <tr>
            <th>Sanskrit Root</th>
            <td>
                <i>
                    ${rt.sanskrit_root} ${rt.sanskrit_root_class} (${rt.sanskrit_root_meaning})
                </i>
            </td>
        </tr>
        % endif
        % endif
    </table>
</div>
