<div class='content'>
    <p>
        % if show_ebt_count and ebt_count:
        <span class="gray">(${ebt_count})</span>
        % endif
        % if dps_data and sbs:
            % if sbs.sbs_class_anki:
                <a href="${sbs.sbs_class_link}"><i>(cl.${sbs.sbs_class_anki})</i></a>
                % if sbs.sbs_class:
                    <span class="gray"><i>${sbs.sbs_class}</i></span>
                % endif
                <span class="gray"> | </span>
            % endif
            % if sbs.sbs_category:
                <a href="${sbs.sbs_sutta_link}"><i>(${sbs.sbs_category})</i></a> | 
            % endif
        % endif
        ${pos}. 
        % if plus_case:
            (${plus_case}) 
        % endif
        ${meaning} 
        % if summary:
            [${summary}] 
        % endif
        % if make_link and i.source_link_sutta:
        <a href="${i.source_link_sutta}">link</a>
        % endif
        ${complete} 
        % if show_id:
            <span class="gray">${id}</span>
        % endif
    </p>
</div>
