<div class="help">
    <table class="help">
        <tr>
            <th>Help</th>
            <td><b>${i.help}</b></td>
        </tr>
        <tr>
            <th>Meaning</th>
            <td>${i.meaning}</td>
        </tr>
        % if dps_data:
            % if i.ru_help:
            <tr>
                <th>Помощь</th>
                <td>${i.ru_help}</td>
            </tr>
            % endif
            % if i.ru_meaning:
            <tr>
                <th>Смысл</th>
                <td>${i.ru_meaning}</td>
            </tr>
            % endif
        % endif
    </table>
</div>
