<div id="root_matrix_${r.root_}" class="root_content hidden">
    <p>
        % if count <= 1:
        <b>${count}</b> word is derived from the root 
        % else:
        <b>${count}</b> words are derived from the root 
        %endif
        <b>${r.root_clean}</b><sup>${r.root_has_verb}</sup>${r.root_group} ${r.root_sign} (${r.root_meaning})
    </p>
    ${r.root_matrix}
    <p>
        Did you spot a mistake? <a class="root_link" href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500=${r.root_link}&entry.326955045=Root+Matrix&entry.1433863141=GoldenDict+${today}" target="_blank">Log it here.</a>
    </p>
</div>
