% for fr in frs:
    <div id="root_family_${r.root_}_${fr.root_family_}" class="root_content ${hidden}">
        ${fr.html.replace("class='family'", "class='root_family'")}
        <p class='footer'>
            Does something look wrong? <a class="root_link" href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500=${r.root_link}_${fr.root_family_link}&entry.326955045=Root+Family&entry.1433863141=GoldenDict+${today}" target="_blank">Report it here</a>.
        </p>
    </div>
% endfor

