<div class='sandhi'>
    <p class='sandhi'>
        % for split in splits:
            ${split}
        % if not loop.last:
            <br>
        % endif
        % endfor
    </p>
    <p class='sandhi_footer'>
        These word breakups are code-generated. <a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500=${i.sandhi}&entry.326955045=Deconstructor&entry.1433863141=GoldenDict%20${today}" target="_blank">Please suggest any improvements here.</a>
    </p>
</div>
