% if sbs.needs_sbs_example_button or sbs.needs_sbs_examples_button:
<div id="sbs_example_${i.lemma_1_}" class="content hidden">
% endif

    % if sbs.sbs_example_1:
    <p>${sbs.sbs_example_1}</p>
    <p class="sutta_sbs">
        % if make_link and sbs.sbs_source_link_1:
        <a href="${sbs.sbs_source_link_1}">${sbs.sbs_source_1}</a>
        % else:
        ${sbs.sbs_source_1}
        % endif
        ${sbs.sbs_sutta_1}</p>
        % if sbs.sbs_chapter_1:
        <p class="sutta_sbs">
            ${sbs.sbs_chapter_1} <a href="${sbs.sbs_chant_link_1}">${sbs.sbs_chant_pali_1}</a>
            % if sbs.sbs_chant_eng_1:
                ${sbs.sbs_chant_eng_1}
            % endif
        % endif
    % endif

    % if sbs.sbs_example_2:
    <p>${sbs.sbs_example_2}</p>
    <p class="sutta_sbs">
        % if make_link and sbs.sbs_source_link_2:
        <a href="${sbs.sbs_source_link_2}">${sbs.sbs_source_2}</a>
        % else:
        ${sbs.sbs_source_2}
        % endif
        ${sbs.sbs_sutta_2}</p>
        % if sbs.sbs_chapter_2:
        <p class="sutta_sbs">
            ${sbs.sbs_chapter_2} <a href="${sbs.sbs_chant_link_2}">${sbs.sbs_chant_pali_2}</a>
            % if sbs.sbs_chant_eng_2:
                ${sbs.sbs_chant_eng_2}
            % endif
        % endif
    % endif

    % if sbs.sbs_example_3:
    <p>${sbs.sbs_example_3}</p>
    <p class="sutta_sbs">
        % if make_link and sbs.sbs_source_link_3:
        <a href="${sbs.sbs_source_link_3}">${sbs.sbs_source_3}</a>
        % else:
        ${sbs.sbs_source_3}
        % endif
        ${sbs.sbs_sutta_3}</p>
        % if sbs.sbs_chapter_3:
        <p class="sutta_sbs">
            ${sbs.sbs_chapter_3} <a href="${sbs.sbs_chant_link_3}">${sbs.sbs_chant_pali_3}</a>
            % if sbs.sbs_chant_eng_3:
                ${sbs.sbs_chant_eng_3}
            % endif
        % endif
    % endif

    % if sbs.sbs_example_4:
    <p>${sbs.sbs_example_4}</p>
    <p class="sutta_sbs">
        % if make_link and sbs.sbs_source_link_4:
        <a href="${sbs.sbs_source_link_4}">${sbs.sbs_source_4}</a>
        % else:
        ${sbs.sbs_source_4}
        % endif
        ${sbs.sbs_sutta_4}</p>
        % if sbs.sbs_chapter_4:
        <p class="sutta_sbs">
            ${sbs.sbs_chapter_4} <a href="${sbs.sbs_chant_link_4}">${sbs.sbs_chant_pali_4}</a>
            % if sbs.sbs_chant_eng_4:
                ${sbs.sbs_chant_eng_4}
            % endif
        % endif
    % endif

    <p class='footer'>
        Did you spot a mistake in SBS examples? <a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLScNC5v2gQbBCM3giXfYIib9zrp-WMzwJuf_iVXEMX2re4BFFw/viewform?usp=pp_url&entry.438735500=${i.lemma_link}&entry.1433863141=SBS" target="_blank">Correct it here.</a>
    </p>

</div>

