<div class="button-box">
    % if grammar_button != '':
    ${grammar_button}
    % endif
    % if example_button:
    ${example_button}
    % endif
    % if examples_button:
    ${examples_button}
    % endif
    % if conjugation_button:
    ${conjugation_button}
    % endif
    % if declension_button:
    ${declension_button}
    % endif
    % if root_family_button:
    ${root_family_button}
    % endif
    % if word_family_button:
    ${word_family_button}
    % endif
    % if compound_family_button:
    ${compound_family_button}
    % endif
    % if set_family_button:
    ${set_family_button}
    % endif
    % if frequency_button:
    ${frequency_button}
    % endif
    ${feedback_button}
</div>