<div class="root_button_box">
    <a class="root_button" href="javascript:void(0);" onclick="button_click(this)" data-target="root_info_${r.root_}">root info</a>
    <a class="root_button" href="javascript:void(0);" onclick="button_click(this)" data-target="root_matrix_${r.root_}">root matrix</a>
    % for fr in frs:
        <a class="root_button" href="javascript:void(0);" onclick="button_click(this)" data-target="root_family_${r.root_}_${fr.root_family_}">${fr.root_family}</a>
    % endfor
</div>