@font-face {
  font-family: "Crimson Pro SSP";
  font-style: normal;
  font-weight: 400;
  src: url("http://localhost:8000/assets/fonts/crimson-pro/CrimsonPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Crimson Pro SSP";
  font-style: italic;
  font-weight: 400;
  src: url("http://localhost:8000/assets/fonts/crimson-pro/CrimsonPro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Crimson Pro SSP";
  font-style: normal;
  font-weight: 700;
  src: url("http://localhost:8000/assets/fonts/crimson-pro/CrimsonPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Crimson Pro SSP";
  font-style: italic;
  font-weight: 700;
  src: url("http://localhost:8000/assets/fonts/crimson-pro/CrimsonPro-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Abhaya Libre SSP";
  font-style: normal;
  font-weight: 400;
  src: url("http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Abhaya Libre SSP";
  font-style: normal;
  font-weight: 500;
  src: url("http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Abhaya Libre SSP";
  font-style: normal;
  font-weight: 600;
  src: url("http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Abhaya Libre SSP";
  font-style: normal;
  font-weight: 700;
  src: url("http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Abhaya Libre SSP";
  font-style: normal;
  font-weight: 800;
  src: url("http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans 3 SSP";
  font-style: normal;
  font-weight: 400;
  src: url("http://localhost:8000/assets/fonts/source-sans-3/SourceSans3-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans 3 SSP";
  font-style: italic;
  font-weight: 400;
  src: url("http://localhost:8000/assets/fonts/source-sans-3/SourceSans3-It.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans 3 SSP";
  font-style: normal;
  font-weight: 700;
  src: url("http://localhost:8000/assets/fonts/source-sans-3/SourceSans3-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans 3 SSP";
  font-style: italic;
  font-weight: 700;
  src: url("http://localhost:8000/assets/fonts/source-sans-3/SourceSans3-BoldIt.ttf") format("truetype");
}
html, body {
  height: 100%;
  color: #1a1a1a;
  background-color: #FAE6B2;
}

pre {
  font-family: serif;
  white-space: pre-wrap;
}

a {
  color: black;
}

.ssp-toolbar {
  position: fixed;
  top: 1em;
  right: 1em;
  font-size: 0.7rem;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.hide {
  display: none;
}

.highlight {
  padding: 0.2rem 0pt;
  background: #027f85;
  color: white;
}

.cologne {
  /* selectors for webtc2 not in webtc */
}
.cologne .sdata_siddhanta {
  color: teal;
  font-weight: normal;
  /* 07-14-2018*/
}
.cologne .sdata_system {
  color: teal;
}
.cologne i {
  font-style: italic;
}
.cologne .noti {
  font-style: normal;
}
.cologne .sdata_italic_iast i {
  color: teal;
}
.cologne table.display {
  width: 100%;
}
.cologne td {
  line-height: 130%;
}
.cologne .g {
  font-size: smaller;
  font-style: italic;
}
.cologne .lang {
  font-size: smaller;
  font-style: italic;
}
.cologne .hrefdata, .cologne .lnum {
  font-size: smaller;
  background-color: #f0f0f0;
}
.cologne .sdata {
  color: teal;
}
.cologne .sdatadeva {
  color: teal;
}
.cologne .asdata {
  color: blue;
}
.cologne .pb {
  font-size: smaller;
}
.cologne .hom {
  color: red;
}
.cologne .footnote {
  font-size: smaller;
}
.cologne .ls {
  color: gray;
  font-size: 10pt;
  /*smaller;*/
}
.cologne .gram {
  font-weight: bold;
}
.cologne .divm {
  font-weight: bold;
}
.cologne .wide {
  font-stretch: wider;
}
.cologne p {
  padding-left: 15pt;
  padding-right: 15pt;
}
.cologne table.display {
  width: 100%;
}
.cologne td, .cologne th {
  padding: 5px;
  text-align: left;
}
.cologne plex {
  color: black;
  background-color: #36648b;
  font-size: 12pt;
}
.cologne a:link {
  color: black;
}
.cologne a:visited {
  color: #36648b;
}
.cologne a:active {
  color: #4876ff;
}
.cologne a:hover {
  background-color: #ffffcc;
  color: #000033;
}
.cologne #CologneBasic .cssshade {
  background-color: #EAEAEA;
  /* light gray */
}
.cologne #disp {
  position: absolute;
  background-color: white;
  left: 1%;
  /*width: 98%; 11-23-2020 */
  right: 5px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.cologne .dotunder {
  border-bottom: 1px dotted #000;
}
.cologne p.words {
  text-align: left;
}
.cologne a.words {
  color: blue;
}
.cologne table {
  width: 100%;
}
.cologne li.display {
  margin-left: 5px;
}
.cologne td.ready {
  font-weight: normal;
  font-style: italic;
}
.cologne .hk {
  font-size: 100%;
}
.cologne .hklarge {
  font-size: 150%;
}
.cologne span.abbr {
  color: #339933;
  text-decoration: underline;
}
.cologne span.abbr:hover {
  color: #FF00FF;
}
.cologne span.hk {
  color: blue;
}
.cologne span.hklarge {
  color: blue;
}
.cologne span.q {
  color: #333333;
}
.cologne span.entity {
  color: red;
}
.cologne span.see {
  font-weight: bolder;
  font-style: italic;
}
.cologne span.sense {
  font-weight: bolder;
}
.cologne span.datakey {
  font-weight: bolder;
}
.cologne p.tabkey {
  font-weight: bolder;
}
.cologne span.pb {
  font-size: smaller;
}
.cologne .container {
  width: 800px;
}
.cologne #headtitle {
  font-size: normal;
  font-weight: bolder;
}
.cologne #updbutton {
  background-color: red;
}
.cologne #data {
  position: absolute;
  left: 31%;
  width: 68%;
  background-color: white;
  overflow: auto;
  height: 400px;
  border: solid;
}
.cologne #ansdiv {
  position: absolute;
  left: 1%;
  width: 99%;
  background-color: white;
  overflow: auto;
  height: 400px;
  border: solid;
}
.cologne #querydiv {
  background-color: #DBE4ED;
}
.cologne #navbtns {
  position: absolute;
  left: 1%;
  width: 48%;
  height: 50px;
}

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: "Source Sans 3 SSP";
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans 3 SSP";
  font-weight: 800;
}

.word-heading h1 {
  float: left;
  font-size: 1.2em;
  color: #282828;
  padding-top: 20pt;
  margin-top: 0;
}
.word-heading .uid {
  float: right;
  font-size: 0.9em;
  font-style: italic;
  color: #aaa;
  padding-top: 20pt;
  margin-top: 0;
}

.clear {
  clear: both;
}
