@font-face {
  font-family: "Crimson Pro SSP";
  font-style: normal;
  font-weight: 400;
  src: url("http://localhost:8000/assets/fonts/crimson-pro/CrimsonPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Crimson Pro SSP";
  font-style: italic;
  font-weight: 400;
  src: url("http://localhost:8000/assets/fonts/crimson-pro/CrimsonPro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Crimson Pro SSP";
  font-style: normal;
  font-weight: 700;
  src: url("http://localhost:8000/assets/fonts/crimson-pro/CrimsonPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Crimson Pro SSP";
  font-style: italic;
  font-weight: 700;
  src: url("http://localhost:8000/assets/fonts/crimson-pro/CrimsonPro-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Abhaya Libre SSP";
  font-style: normal;
  font-weight: 400;
  src: url("http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Abhaya Libre SSP";
  font-style: normal;
  font-weight: 500;
  src: url("http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Abhaya Libre SSP";
  font-style: normal;
  font-weight: 600;
  src: url("http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Abhaya Libre SSP";
  font-style: normal;
  font-weight: 700;
  src: url("http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Abhaya Libre SSP";
  font-style: normal;
  font-weight: 800;
  src: url("http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans 3 SSP";
  font-style: normal;
  font-weight: 400;
  src: url("http://localhost:8000/assets/fonts/source-sans-3/SourceSans3-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans 3 SSP";
  font-style: italic;
  font-weight: 400;
  src: url("http://localhost:8000/assets/fonts/source-sans-3/SourceSans3-It.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans 3 SSP";
  font-style: normal;
  font-weight: 700;
  src: url("http://localhost:8000/assets/fonts/source-sans-3/SourceSans3-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans 3 SSP";
  font-style: italic;
  font-weight: 700;
  src: url("http://localhost:8000/assets/fonts/source-sans-3/SourceSans3-BoldIt.ttf") format("truetype");
}
html, body {
  height: 100%;
  color: #1a1a1a;
  background-color: #FAE6B2;
}

pre {
  font-family: serif;
  white-space: pre-wrap;
}

a {
  color: black;
}

.ssp-toolbar {
  position: fixed;
  top: 1em;
  right: 1em;
  font-size: 0.7rem;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.hide {
  display: none;
}

.highlight {
  padding: 0.2rem 0pt;
  background: #027f55;
  color: white;
}

.scrollto-highlight {
  padding: 0.2rem 0pt;
  background: #027f85;
  color: white;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

div.btn {
  display: inline-block;
  padding: 0;
  margin: 0;
}
div.btn a {
  cursor: pointer;
  text-decoration: none;
}

.open-button {
  font-size: 15px;
}
.open-button .icon {
  color: #027f55;
  opacity: 0.5;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.bookmark-comment {
  border: 1px solid #1f936d;
  border-radius: 5px;
  background-color: #57dbaf;
}
.bookmark-comment .bookmark-title {
  background-color: #1f936d;
  height: 30px;
  font-size: 20px;
}
.bookmark-comment .bookmark-title .btn {
  margin: 2.5px 5px;
}
.bookmark-comment .bookmark-title .btn a {
  color: white;
}
.bookmark-comment .bookmark-content {
  color: #1a1a1a;
  font-size: 0.8rem;
  padding: 0.5rem;
}
.bookmark-comment .bookmark-content p {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 0.4rem;
}
.bookmark-comment .bookmark-content p:first-child {
  padding-top: 0;
}
.bookmark-comment .bookmark-content a {
  color: #700909;
}

#window-title-bar {
  font-size: 18px;
  line-height: 1;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.1em;
  background-color: #FEF8E8;
}
#window-title-bar .flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 0.2em;
}
#window-title-bar .flex-container #left-btn-box,
#window-title-bar .flex-container #right-btn-box {
  flex: 1;
}
#window-title-bar .flex-container #preview-title-text {
  display: inline-block;
  color: black;
  text-align: center;
}
#window-title-bar .flex-container .icon {
  font-size: 0.8rem;
  color: black;
  padding-top: 0.1rem;
  margin: 0.1rem 0.3rem;
}

html, body {
  font-size: 22px;
  line-height: 1.5;
  font-family: "Crimson Pro SSP";
  font-weight: 400;
}

#ssp_main {
  padding-bottom: 4rem;
}

*, *:before, *:after {
  box-sizing: content-box;
}

body {
  padding: 0 2rem;
  max-width: 75ex;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

p {
  margin: 0.8rem 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Abhaya Libre SSP";
  font-weight: 800;
  font-style: normal;
  text-transform: none;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}
