$black-90: #1a1a1a
//$solarized-light-bg: #FDF6E3
$solarized-light-bg: #FAE6B2

@import "type_crimson_pro"
@import "type_abhaya_libre"
@import "type_source_sans_3"

// let the background color fill the whole page
html, body
  height: 100%
  color: $black-90
  background-color: $solarized-light-bg

pre
  font-family: serif
  white-space: pre-wrap

a
  color: black

.ssp-toolbar
  position: fixed
  top: 1em
  right: 1em
  font-size: 0.7rem

.svg-icon
  width: 1em
  height: 1em
  vertical-align: -.125em

.hide
  display: none

.highlight
  padding: 0.2rem
  background: #027f85
  color: white
