@import "button_shadow";

.ssp-button__icon {
  width: 0.9em;
  height: 0.9em;
  fill: currentcolor;
  margin-right: 0.5em;

  &--end {
    margin-right: 0;
    margin-left: 0.5em;
  }
}

.ssp-button {
  // Reset
  text-decoration: none;
  border: none;
  font-family: inherit;
  font-weight: 400;
  cursor: pointer;
  user-select: none;

  // Display
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // Optional - see "Gotchas"
  align-self: start;

  text-align: center;

  font-size: 1.1em;
  line-height: 1.0;

  background-color: $button_bg;
  color: #000;
  border-radius: 7px;

  @include button-shadow;

  transition: box-shadow .2s ease-in-out;

  &.primary {
    background-color: $button_primary_bg;
  }

  svg.ssp-icon-button__icon + span.ssp-button-text {
    margin-left: 0.5rem;
  }

  &:not(.ssp-icon-button) {
    padding: 0.25em 0.75em;
    margin: 0 0 0 0.5rem;
    min-width: 10ch;
    min-height: 30px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:hover,
  &:active,
  &.active {
    background-color: $button_active;
    color: white;
    user-select: none;

    &.primary {
      background-color: $button_primary_active;
      color: black;
    }
  }

  &--small {
    font-size: 0.8rem;
  }
}

.ssp-icon-button {
  width: 1.7rem;
  height: 1.7rem;
  font-size: 0.8rem;
  padding: 0.35em;
  position: relative;
  top: 1px;
  margin-left: 0.5rem;

  &:first-child {
    margin-left: 0;
  }

  &__icon {
    width: 1.2em;
    height: 1.2em;
  }
}
