.suttacentral
  span.segment
    span.translated
      display: block
      padding-top: 0.5rem
      font-size: 1rem
    span.pali
      display: block
      padding-top: 0.5rem
      font-family: "Source Sans 3 SSP"
      font-size: 0.8rem

.suttacentral
  header
    text-align: center
    ul
      margin-block-start: 1em
      margin-block-end: 1em
      padding-inline-start: 0pt

      li
        font-family: "Source Sans 3 SSP"
        font-weight: 400
        list-style-type: none
        text-transform: uppercase
        font-size: 0.65rem
        letter-spacing: 1pt
        word-spacing: 1.5pt
        padding-top: 0.3rem

      li .segment .pali,
      li .segment .translated
        font-family: "Source Sans 3 SSP"
        font-weight: 400
        list-style-type: none
        text-transform: uppercase
        font-size: 0.65rem
        letter-spacing: 1pt
        word-spacing: 1.5pt
        padding-top: 0.15rem

    h1
      font-family: "Abhaya Libre SSP"
      font-weight: 800
      font-size: 1.4rem
      font-weight: bold
      word-spacing: 2pt
      padding-top: 0.8rem
      padding-bottom: 0.8rem

    h1 .segment .pali,
    h1 .segment .translated
      font-family: "Abhaya Libre SSP"
      font-weight: 800
      font-size: 1.4rem
      font-weight: bold
      word-spacing: 2pt
      padding-top: 0.2rem
      padding-bottom: 0.2rem

  h2
    font-size: 1.1rem
    font-weight: bold
    word-spacing: 2pt
    padding-top: 1rem

  h3
    font-size: 1.1rem
    font-weight: bold
    word-spacing: 2pt
    padding-top: 1rem

  .evam
    text-transform: lowercase
    font-variant: small-caps
    font-size: 1.15rem
    letter-spacing: .8pt
    word-spacing: 1pt

  .speaker
    font-style: italic
    text-indent: 3em
    display: block

  blockquote.gatha
    font-style: normal
    margin-left: 2rem
    .verse-line
      display: block

  .endsutta
    font-style: italic

  a.ref
    display: none

  footer
    margin-top: 4rem
    border-top: 1px solid #aaa
    font-size: 0.8rem
    line-height: 1rem
    span.author
      font-style: italic
    span.publication-date
      font-style: italic

  .variant-wrap, .comment-wrap
    .mark
      font-size: 0.6rem
      position: relative
      top: -0.1rem
      padding: 3px

      &:hover
        border-bottom: 2px solid black

  .variant, .comment
    font-size: 0.8rem
