@font-face {
    font-family: 'Abhaya Libre SSP';
    font-style: normal;
    font-weight: 400;
    src: url('http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Abhaya Libre SSP';
    font-style: normal;
    font-weight: 500;
    src: url('http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Abhaya Libre SSP';
    font-style: normal;
    font-weight: 600;
    src: url('http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Abhaya Libre SSP';
    font-style: normal;
    font-weight: 700;
    src: url('http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Abhaya Libre SSP';
    font-style: normal;
    font-weight: 800;
    src: url('http://localhost:8000/assets/fonts/abhaya-libre/AbhayaLibreX-ExtraBold.ttf') format('truetype');
}
