// 200, ExtraLight

@font-face {
    font-family: 'Source Sans Pro SSP';
    font-style: normal;
    font-weight: 200;
    src: url('http://localhost:8000/assets/fonts/source-sans-pro/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro SSP';
  font-style: italic;
  font-weight: 200;
  src: url('http://localhost:8000/assets/fonts/source-sans-pro/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}

// 300, Light

@font-face {
    font-family: 'Source Sans Pro SSP';
    font-style: normal;
    font-weight: 300;
    src: url('http://localhost:8000/assets/fonts/source-sans-pro/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro SSP';
  font-style: italic;
  font-weight: 300;
  src: url('http://localhost:8000/assets/fonts/source-sans-pro/SourceSansPro-LightIt.ttf') format('truetype');
}

// 400, Normal

@font-face {
    font-family: 'Source Sans Pro SSP';
    font-style: normal;
    font-weight: 400;
    src: url('http://localhost:8000/assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro SSP';
  font-style: italic;
  font-weight: 400;
  src: url('http://localhost:8000/assets/fonts/source-sans-pro/SourceSansPro-It.ttf') format('truetype');
}

// 600, SemiBold

@font-face {
    font-family: 'Source Sans Pro SSP';
    font-style: normal;
    font-weight: 600;
    src: url('http://localhost:8000/assets/fonts/source-sans-pro/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro SSP';
  font-style: italic;
  font-weight: 600;
  src: url('http://localhost:8000/assets/fonts/source-sans-pro/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

// 700, Bold

@font-face {
    font-family: 'Source Sans Pro SSP';
    font-style: normal;
    font-weight: 700;
    src: url('http://localhost:8000/assets/fonts/source-sans-pro/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro SSP';
  font-style: italic;
  font-weight: 700;
  src: url('http://localhost:8000/assets/fonts/source-sans-pro/SourceSansPro-BoldIt.ttf') format('truetype');
}

// 900, Black

@font-face {
    font-family: 'Source Sans Pro SSP';
    font-style: normal;
    font-weight: 900;
    src: url('http://localhost:8000/assets/fonts/source-sans-pro/SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro SSP';
  font-style: italic;
  font-weight: 900;
  src: url('http://localhost:8000/assets/fonts/source-sans-pro/SourceSansPro-BlackIt.ttf') format('truetype');
}
