<!doctype html>
<html class="{body_class}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <style>{css_head}</style>
        <script>
         const API_URL = '{api_url}';
         window.API_URL = API_URL;
        </script>
        <script>{js_head}</script>
    </head>
    <body class="{body_class}">
        <div id="ssp_main">
            <div class="transient-messages-wrap">
                <div id="transient-messages-top" class="transient-messages">
                </div>
            </div>

            {reading_mode_html}

            {prev_next_chapter_html}

            {find_html}

            {menu_html}

            <div id="ssp_content">
                {content}
            </div>

            {confirm_modal_html}

            {footnote_modal_html}

            {invalid_link_modal_html}

            {display_settings_html}

            {column_bar_html}

            <!-- Footnote Bottom Bar: Shows definitions for visible footnotes -->
            <div id="footnoteBottomBar" class="footnote-bottom-bar"></div>
        </div>
        <script>{js_body}</script>

        <script src="{api_url}/assets/js/simsapa.min.js"></script>

    </body>
</html>
