name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"
    - name: Install poetry
      run: |
        python -m pip install poetry
    - name: Configure poetry
      run: |
        poetry config virtualenvs.in-project true
    - name: Cache the virtualenv
      uses: actions/cache@v2
      with:
        path: ./.venv
        key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}
    - name: Install dependencies
      run: |
        poetry install
    - name: Lint with ruff
      run: |
        # stop the build if there are Python syntax errors or undefined names
        poetry run ruff --format=github --select=E9,F63,F7,F82 --target-version=py311 .
        # default set of ruff rules with GitHub Annotations
        poetry run ruff --format=github --target-version=py311 .
    - name: Run tests
      run: |
        poetry run pytest
