name: PyInstaller Build

on:
  push:
    branches:
      - main
      - develop
    tags:
      - 'v[0-9].*'

jobs:
  briefcase:
    name: Bundle on ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-12, windows-2022]
        python-version: ["3.11"]
        arch: ["x86_64"]
      fail-fast: false
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Python pip
        run: python -m pip install --upgrade pip

      - name: Install Python libs
        run: |
          pip install pyinstaller
          pip install dmgbuild
          pip install -r requirements.txt

      - name: Mac Build
        if: runner.os == 'MacOS'
        run: |
          pyinstaller run.py --name "Simsapa Dhamma Reader" --onedir -w --clean --noupx -i "simsapa/assets/icons/appicons/simsapa.ico" --add-data "simsapa/assets:simsapa/assets" --add-data "simsapa/alembic:simsapa/alembic" --add-data "simsapa/alembic.ini:simsapa/alembic.ini" --target-architecture ${{ matrix.arch }} --osx-bundle-identifier 'com.profound-labs.dhamma.simsapa' && dmgbuild -s dmgbuild_settings.py "Simsapa Dhamma Reader" "./dist/Simsapa Dhamma Reader.dmg"

      # NOTE: Windows uses \ in paths and expects ; not : in data names
      - name: Windows Build
        if: runner.os == 'Windows'
        run: |
          pyinstaller run.py --name "Simsapa Dhamma Reader" --onedir -w --clean --noupx -i "simsapa\assets\icons\appicons\simsapa.ico" --add-data "simsapa\assets;simsapa\assets" --add-data "simsapa\alembic;simsapa\alembic" --add-data "simsapa\alembic.ini;simsapa\alembic.ini"

      - name: Upload Artifact for MacOS
        uses: actions/upload-artifact@v3
        if: runner.os == 'MacOS'
        with:
          name: simsapa-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.arch }}.dmg
          path: 'dist/*.dmg'

      - name: Upload Artifact for Windows
        uses: actions/upload-artifact@v3
        if: runner.os == 'Windows'
        with:
          name: simsapa-${{ github.ref_name }}-${{ matrix.os }}
          path: 'dist/Simsapa Dhamma Reader/'
